<html>
<body>
  <ul>
  <li>NAME: <%=name%> </li>
  <li>HOMETOWN: <%=town%> </li>
  <li>FAVE COLOR: <%=color%> </li>
  <li>FAVE BAND: <%=band%> </li>
  <li>FAVE POST-IMPRESSIONIST: <%=artist%> </li>
  <li>FUN FACT: <%=fact%> </li>
</ul>
</body>
</html>
